.fs-clear-wrapper {
  align-self: flex-end;

  ::ng-deep {
    .mat-button-wrapper>* {
      vertical-align: baseline !important;
    }
  }

  mat-icon {
    cursor: pointer;
    height:21px !important;
    width:21px !important;
    font-size:21px !important;
  }
}
