
::ng-deep {
  .fs-clear-wrapper {
    .mat-mdc-button-touch-target {
      display: none !important;
    }

    button {
      cursor: pointer;
      display: none;
    
      &.visible {
        display: flex;
      }
    }
  }
}
